* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 100%;
    background: #b22e2e;
    padding: 10px;
    font-family: Arial;
    transition: background 300ms;
}
.polje {
    display: inline-block;
    width: 100%;
    padding: 10px;
    resize: none;
    font-family: Arial;
    outline: none;
}
.naslov {
    height: 10%;
    font-size: 1.8rem;
    font-weight: bolder;
}
/* .podnaslov {
    height: 27%;
    font-size: 1.2em;
    font-weight: bolder;
} */
.tekst {
    height: 80%;
    font-size: 1.2em;
}
/* .container2 {
    display: inline-block;
    width: 20%;
    height: 70%;
    border: 2px solid black;
    padding: 5px;
}
button {
    width: 3%;
    height: 7%;
    margin: 1%;
    font-size: 2em;
    font-weight: bolder;
}
.klik:hover {
    cursor: pointer;
}
.ceoTekst {
    height: 100%;
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    text-align: left;
} */